<section class="bookResult flex-container">
  <h2> Details for <%= book.title %> </h2>
  <div class="flex-item">
      <img src= '<%= book.image_url %>'/>
      <h5><%= book.author %></h5>
      <h4><%= book.description %></h4>
      <p> <%= book.isbn %> </p>
  </div>
</section>